/* TODO add some general header styles */

.header {
  margin: 10px;
  border: 1px solid grey;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.header .expand-button {
  text-align: left;
  left: 10px;
}