/* TODO general sidebar styles */
.app-sidebar {
  padding: 10px;
  border-right: 1px solid #ccc;
  background-color: lightblue;
  width: 250px;
  position: relative;
  transition: min-width 0.1s ease-out;
}

/* TODO expanded styles */
.app-sidebar.expanded {
  min-width: 300px;
}

/* TODO collapsed styles */
.app-sidebar.collapsed {
  min-width: 65px;
}
