/* TODO general sidebar styles */
.sidebar {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    height: 100%;
    background-color: cadetblue;
    width: 250px;
    position: relative;
}

/* TODO expanded styles */
.app-sidebar.expanded {
    /* width: ??? */
}

/* TODO collapsed styles */
.app-sidebar.collapsed {
    /* width: ??? */
}